/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Grid Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/
@mixin grid-col {
  float: left;
  &:after {
	@include clearfix;
  }
}



.xs--auto {	
  @include grid-col;
	width: auto;
}
.xs--1 {
  @include grid-col;
  width: 100%;
  padding-right: 0;
}
.xs--1of2 {
  @include grid-col;
  width: 48%;
	&--full {
	  @include grid-col;
	  width: 50%;		
	}
}
.xs--1of3 {
  @include grid-col;
  width: 30%;
  &--full {
	@include grid-col;
	width: 33.33%;		
  }  
}
.xs--2of3 {
  @include grid-col;
  width: 64%;  
  &--full {
	@include grid-col;
	width: 66.66%;		
  }    
}
.xs--1of4 {
  @include grid-col;
  width: 25%;
}
.xs--3of4 {
  @include grid-col;
  width: 75%;
}
.xs--1of5 {
  @include grid-col;
	width: 20%;
}
.xs--2of5 {
  @include grid-col;
	width: 40%;
}
.xs--3of5 {
  @include grid-col;
	width: 60%;
}
.xs--4of5 {
  @include grid-col;
	width: 80%;
}
.xs--1of10 {
  @include grid-col;
	width: 10%;
}
.xs--9of10 {
  @include grid-col;
	width: 90%;
}

/* end Base */


/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {

	.sm--auto {	
		@include grid-col;
		  width: auto;
	  }
	  .sm--1 {
		@include grid-col;
		width: 100%;
		padding-right: 0;
	  }
	  .sm--1of2 {
		@include grid-col;
		width: 48%;
		  &--full {
			@include grid-col;
			width: 50%;		
		  }
	  }
	  .sm--1of3 {
		@include grid-col;
		width: 30%;
		&--full {
		  @include grid-col;
		  width: 33.33%;		
		}  
	  }
	  .sm--2of3 {
		@include grid-col;
		width: 64%;  
		&--full {
		  @include grid-col;
		  width: 66.66%;		
		}    
	  }
	  .sm--1of4 {
		@include grid-col;
		width: 25%;
	  }
	  .sm--3of4 {
		@include grid-col;
		width: 75%;
	  }
	  .sm--1of5 {
		@include grid-col;
		  width: 20%;
	  }
	  .sm--2of5 {
		@include grid-col;
		  width: 40%;
	  }
	  .sm--3of5 {
		@include grid-col;
		  width: 60%;
	  }
	  .sm--4of5 {
		@include grid-col;
		  width: 80%;
	  }
	  .sm--1of10 {
		@include grid-col;
		  width: 10%;
	  }
	  .sm--9of10 {
		@include grid-col;
		  width: 90%;
	  }

} /* end 481px & Up */


/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {

	.md--auto {	
		@include grid-col;
		width: auto;
	}
	.md--1 {
		@include grid-col;
		width: 100%; 
		padding-right: 0;
	}
	.md--1of2 {
		@include grid-col;
		width: 48%;
		&--full {
			@include grid-col;
			width: 50%;		
		}
	}
	.md--1of3 {
		@include grid-col;
		width: 30%;
		&--full {
			@include grid-col;
			width: 33.33%;		
		}  
	}
	.md--2of3 {
		@include grid-col;
		width: 64%;  
		&--full {
			@include grid-col;
			width: 66.66%;		
		}    
	}	
	.md--1of4 {
		@include grid-col;
		width: 22%;
		&--full {
			@include grid-col;
			width: 25%;		
		}
	}
	.md--3of4 {
		@include grid-col;
		width: 74%;
		&--full {
			@include grid-col;
			width: 75%;		
		}
	}
	.md--1of5 {
		@include grid-col;
		width: 16.8%;
	}
	.md--2of5 {
		@include grid-col;
		width: 37.6%;
	}
	.md--3of5 {
		@include grid-col;
		width: 58.4%;
	}
	.md--4of5 {
		@include grid-col;
		width: 79.2%;
	}
	.md--1of10 {
		@include grid-col;
		  width: 10%;
	}
	.md--3of10 {
		@include grid-col;
		  width: 28%;
	}
	.md--9of10 {
		@include grid-col;
		  width: 90%;
	}	

} /* end 768px & Up */


/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {

	.lg--auto {	
		@include grid-col;
		width: auto;
	}	
	.lg--1 {
		@include grid-col;
		width: 100%;
		padding-right: 0;
	}
	.lg--1of2 {
		@include grid-col;
		width: 48%;
		&--full {
			@include grid-col;
			width: 50%;		
		}
	}
	.lg--1of3 {
		@include grid-col;
		width: 30.6%;
	}
	.lg--2of3 {
		@include grid-col;
		width: 66%;
	}
	.lg--1of4 {
		@include grid-col;
		width: 22%;
		&--full {
			@include grid-col;
			width: 25%;		
		}
	}
	.lg--3of4 {
		@include grid-col;
		width: 74%;
		&--full {
			@include grid-col;
			width: 75%;		
		}
	}
	.lg--1of5 {
		@include grid-col;
		width: 16.8%;
	}
	.lg--2of5 {
		@include grid-col;
		width: 37.6%;
	}
	.lg--3of5 {
		@include grid-col;
		width: 58.4%;
	}
	.lg--4of5 {
		@include grid-col;
		width: 79.2%;
	}
	.lg--1of10 {
		@include grid-col;
		  width: 10%;
	}
	.lg--9of10 {
		@include grid-col;
		width: 90%;
	}
} /* end 1030px & Up */


/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {

	.xl--auto {	
		@include grid-col;
		width: auto;
	}	
	.xl--1of2 {
		@include grid-col;
		width: 48%;
		&--full {
			@include grid-col;
			width: 50%;		
		}
	}
	.xl--1of3 {
		@include grid-col;
		width: 30.6%;
	}
	.xl--2of3 {
		@include grid-col;
		width: 64%;  
		&--full {
			@include grid-col;
			width: 66.66%;		
		}    
	}
	.xl--1of5 {
		&--full {
			@include grid-col;
			width: 20%;
		}
	}
	.xl--3of5 {
		&--full {
			@include grid-col;
			width: 60%;
		}
	}	
	.xl--4of5 {
		&--full {
			@include grid-col;
			width: 80%;
		}
	}	

} /* end 1240px & Up */