/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Layout Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/
.container--full {
	margin: 0 auto;
	width: 90%;
}
.container--slim {
	margin: 0 auto;
	width: 90%;
}

.content-blocks {
    .content-block {
        margin-right: 0;
        position: relative;
        margin-bottom: 1rem;
        &:nth-child(2n+0), &:nth-child(3n+0) {
            margin-right: 0;
        }
    }
}
/* end Base */
  
  
/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {
 

} /* end 481px & Up */
    
  
/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {

    .container--slim {
        width: 85%;
    }

    .content-blocks {
        .content-block {
            margin-right: 4%;
            &:nth-child(2n+0), &:last-of-type {
                margin-right: 0;
            }
            &:nth-child(3n+0) {
                margin-right: 4%;
            } 
        }
    }

} /* end 768px & Up */
  
  
/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {

    .container--slim {
        width: 70%;
    }

    .content-blocks {
        .content-block {
            &:nth-child(2n+0) {
                margin-right: 4%;
            }
            &:nth-child(3n+0), &:last-of-type {
                margin-right: 0;
            } 
        }
    }   

} /* end 1030px & Up */
  
  
/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {
    
    .container--slim {
        max-width: 1240px;
    }

} /* end 1240px & Up */