/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: IE Stylesheet 

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/



/*********************
IMPORTING MODULES
The modules directory is reserved for Sass code that doesn't cause 
Sass to actually output CSS. Things like mixin declarations, 
functions, and variables.
*********************/

// Normalize CSS: http://necolas.github.io/normalize.css/
@import "modules/normalize";

// Sass Functions
@import "modules/functions";

// Import Mixins
@import "modules/mixins";

// Sass Variables
@import "modules/variables";



/*********************
IMPORTING TYPOGRAPHY
The typography directory contains @font-face declarations,
type setup and variables.
*********************/

// Site  Fonts
@import "typography/fonts";

// Site Font Variables
@import "typography/variables";

// Site Type Styles
@import "typography/type";



/*********************
IMPORTING CLASSES
The classes directory is where grid, flex, visibility classes, etc.,
are created. These can be tweak as needed.
*********************/

// The Grid
@import "classes/grid";

// Flexbox Classes
@import "classes/flexbox";

// Alignment Classes
@import "classes/alignment";

// Visibility Classes
@import "classes/visibility";

// Layout Classes
@import "classes/layout";



/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/

/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

.objectfit-container {
    &.objectfit-fallback {
        background-size: cover;
        background-position: center center;
        // hide image if object fit is not supported - opacity to 0 for the link area
        img { 
            display: none;
        }
    }
 }


html.lt-ie8, html.lt-ie9 {	 
	background-color: tint($color__primary, 98%);
	background-image: none;
}
