/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Main Stylesheet

Here, you'll see we are calling in 
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions 

******************************************************************/

/*********************
IMPORTING MODULES
The modules directory is reserved for Sass code that doesn't cause 
Sass to actually output CSS. Things like mixin declarations, 
functions, and variables.
*********************/

// Normalize CSS: http://necolas.github.io/normalize.css/
@import "modules/normalize";

// Sass Functions
@import "modules/functions";

// Import Mixins
@import "modules/mixins";

// Sass Variables
@import "modules/variables";



/*********************
IMPORTING TYPOGRAPHY
The typography directory contains @font-face declarations,
type setup and variables.
*********************/

// Site  Fonts
@import "typography/fonts";

// Site Font Variables
@import "typography/variables";

// Site Type Styles
@import "typography/type";



/*********************
IMPORTING CLASSES
The classes directory is where grid, flex, visibility classes, etc.,
are created. These can be tweak as needed.
*********************/

// The Grid
@import "classes/grid";

// Flexbox Classes
@import "classes/flexbox";

// Alignment Classes
@import "classes/alignment";

// Visibility Classes
@import "classes/visibility";

// Layout Classes
@import "classes/layout";



/*********************
IMPORTING PARTIALS
The partials directory is where the meat of my CSS is constructed. 
A lot of folks like to break their stylesheets into header, 
content, sidebar, and footer components (and a few others). 
As I'm more of a SMACSS guy myself, I like to break things down 
into much finer categories (typography, buttons, textboxes, 
selectboxes, etc…).
*********************/

// Table Styles
@import "partials/tables";

// Tab Styles
@import "partials/tabs";

// Slider Styles
@import "partials/sliders";

// CSS KeyFrame Animations
@import "partials/animations";

// Button Styles
@import "partials/buttons";

// Block Content Styles
@import "partials/blocks";

// Custom Styles
@import "partials/toggles";

// Google Map Styles
@import "partials/maps";

// Mobile Modal
@import "partials/modal";

// Sticky Header Functionality Styles
@import "partials/sticky-header";

// Recaptcha Badge Styles
@import "partials/recaptcha";

// Specific Media Type Styles 
// ie. images, iframes, etc.
@import "partials/media";



/*********************
IMPORTING COMPONENTS
Components are reusable blocks or custom elements we use 
throughout the site. Generally speaking, creating a componenent is
most useful when a piece of code is needed in multiple places.
*********************/

// Global Element Styles
@import "components/global";

// Global Header Styles
@import "components/global-header";

// Global Footer Styles
@import "components/global-footer";

// Mobile Sticky Bar
@import "components/mobile-navbar";

// Navigation Styles
@import "components/navigation";

// Custom Scrollbar Styles
@import "components/scrollbar";

// Article Styles
@import "components/article";

// Form Styles
@import "components/forms";

// Form Styles
@import "components/flexible-layout";





/*********************
IMPORTING TEMPLATE STYLES
Create a new file here for each new template 
and use php includes in templates to include components
*********************/

// Home Template Specific Styles
@import "templates/home";

// Default Template Specific Styles
@import "templates/default";

// Blog Styles
@import "templates/blog";

/*Add Custom Custom SCSS Templates Below*/


/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

}

// end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}