/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Typography / Body

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/


/* 1. XS | BASE
*********************/
body {
	font-family: $font__body;
	font-weight: $font-weight__normal;
	line-height: 1.5;
    	color: $color__black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include font-size(16);
	* {
		&::selection {
			@include rgba-background($color__secondary, 0.6);
			color: $color__white;
		}
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	font-family: $font__display;
	line-height: 1.5;
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
		border-bottom: none;
        color: $color__secondary;
        @include prefix('transition', 'color 0.5s ease', webkit moz ms o);
		&:hover {
			//color: shade($color__secondary, 20%);
		}
	}
}

h1, .h1 { 
	@include font-size(48);
	color: $color__black;
	text-transform: uppercase;
}

h2, .h2 {
	@include font-size(36);
	color: $color__primary;
	text-transform: uppercase;
}

h3, .h3 {
	@include font-size(24);
	color: $color__black;
	text-transform: uppercase;
}

h4, .h4 {
	@include font-size(16);
	color: $color__secondary;
	text-transform: uppercase;
}

h5, .h5 {
	@include font-size(14);
	color: $color__primary;
	text-transform: uppercase;
}

a, a:visited {
	color: $color__secondary--darker;
	text-decoration: none;
	cursor: pointer;
	@include prefix('transition', 'all 0.5s ease', webkit moz ms o);
	&:active, &:focus, &:hover {	
		color: $color__secondary;
		outline: none; 
	}
	i {
		margin-right: 5px;
	}
}

ul, ol {
	padding-left: 20px;
	ul, ol {
		margin: 0;
		li {
			@include font-size(15);
		}
	}
}

ul li {
	list-style-type: disc;
	ul {
		margin: 0;
		li {
			list-style-type: circle;
		}
	}
}

ol li {
	list-style-type: decimal;
	ol {
		margin: 0;
		li {
			list-style-type: lower-alpha;
		}
	}
}
/* end Base */


/* 2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {}
/* end 481px & Up */


/* 3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {}
/* end 768px & Up */


/* 4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {}
/* end 1030px & Up */


/* 5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {}
/* end 1240px & Up */
