/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: "Partial Name" Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/

#breadcrumbs {
    @include font-size(14);
}

article {
    img {
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-width: 100%;
        &.alignleft {
            @include clearfix;
            float: left;
            margin: 20px 20px 20px 0;
            border: solid 1px $color__gray--lighter;
            border-radius: $attr__border-radius;
        }
        &.alignright {
            @include clearfix;
            float: right;
            margin: 20px 0 20px 20px;
            border: solid 1px $color__gray--lighter;
            border-radius: $attr__border-radius;
        }        
        &.aligncenter {
            text-align: center;
			float:none;
			clear:both;
			display: block;
            margin: 20px auto;
            border: solid 1px $color__gray--lighter;
            border-radius: $attr__border-radius;
        }
		&.alignnone {
			float:none;
			clear:both;
			display: block;
            margin: 20px auto;
			width: 100%;
		}
    }
}

/* end Base */
  


/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {



} /* end 481px & Up */
    
  

/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {

    article {
        img {
            height: auto;
            width: auto;
        }
    }

} /* end 768px & Up */


  
/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {



} /* end 1030px & Up */
 


/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {



} /* end 1240px & Up */