/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Global Header Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/

// Check _navigation.scss to find styles for site navigation

#header--global {
    #logo--header {
        img {
            max-width: 250px;
        }
    }

}

/* end Base */



/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {}

/* end 481px & Up */



/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {}

/* end 768px & Up */



/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {}

/* end 1030px & Up */



/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {}

/* end 1240px & Up */