/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: "Partial Name" Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/


/* 1. XS | BASE
*********************/
#footer--global {
	margin-top: 100px;
	margin-bottom: 100px;
	display: block;
	#footer--global__top {
		margin-bottom: 40px;
	}
	#footer--global__main {
		ul {
			@include list-reset;
		}
	}
	#footer--sub__social, #footer--sub__copyright, #footer--sub__links {
		ul {
			@include list-inline; 
			@include list-reset;
		}
		li, p {
			@include font-size(12);
		}
	}
	#footer--sub__social {
		a {
			opacity: .2;
			&:active, &:focus, &:hover {
				color: $color__primary;
				opacity: 1;
			}
			i {
				@include font-size(20);
			}
		}
	}
	#footer--sub__copyright, #footer--sub__links {
		p, ul {
			display: inline-block;
			@include spacing-reset;
		}
	}
	#footer--sub__links {
		img {
			height: auto;
			width: 20px;
		}
	}
}

/* Footer Link Navigation Styles */
#footer--global {
	#footer--global__main {
		nav {
			.footer-links {
				float: left;
				padding-right: 0;
				width: 100%;
				@include clearfix;
				ul#menu-footer-menu {
					@include list-reset;
					@include spacing-reset;
					margin-bottom: 40px;
					> li.menu-item-has-children {
						@include font-size(18); 
						//width: 30%;
						margin-bottom: 20px;
						&:last-of-type {
							margin-bottom: 0;
						}
						> a {
							cursor: default;
							margin-bottom: 20px;
							font-weight: 700;
							display: block;
							text-transform: uppercase;
							&:active, &:focus, &:hover {
								color: $color__primary;
							}
						}
						ul.sub-menu {
							li {
								margin-bottom: 10px;
								a {
									color: $color__gray--lighter;
									&:active, &:focus, &:hover {
										color: $color__accent-1;
									}
								}
							}
						}
					}
				}
			}
			#nav__additional-content {
				#partner-logos {
					img {
						width: 100%;
						height: auto;
						max-width: 175px;
						@include transition;
						&:active, &:focus, &:hover {
							opacity: .8;
						}
					}
				}
				.additional-content {
					margin-bottom: 20px;
					line-height: 1rem;
					img {
						width: 100%;
						max-width: 40px;	
						margin-right: 0;				
					}
					span {
						@include font-size(12);
						color: $color__gray--lighter;
					}
				}
			}
		} 
	}
}
/* end Base */


/* 2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {}
/* end 481px & Up */


/* 3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {

	#footer--global { 
		margin-top: 200px;
		margin-bottom: 40px;
		#footer--sub__social {
			a {
				i {
					@include font-size(30);
				}
			}
		}		
	}

	/* Footer Link Navigation Styles */
	#footer--global {
		#footer--global__main {
			nav {
				ul#menu-footer-menu {
					> li.menu-item-has-children {
						margin-bottom: 0;
					}	
				}			
				.footer-links {
					width: 74%;
				}

				#nav__additional-content {
					.additional-content {
						img {
							margin-right: 20px;				
						}
					}
				}				
			}
		}	
	}
}
/* end 768px & Up */


/* 4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {}
/* end 1030px & Up */


/* 5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {}
/* end 1240px & Up */
