/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Mobile Sticky Navigation Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/

#nav--mobile {
	display: block;
	position: fixed;
	left: 2%;
	bottom: 2%;
	width: 96%;
	padding: 15px 0;
	@include rgba-background($color__secondary, 0.9);
	z-index: 10;
	border-radius: 4px;

	.nav--mobile__item {
		position: relative;
		margin: auto;
		top: 2px;
		line-height: 100%;
		color: $color__white;

		i {
			color: $color__white;
			font-size: 1.5rem;
			line-height: 0;
			position: relative;
			top: 3px;
		}

		#responsive-menu-button {
			width: 100% !important;
			height: 100% !important;
			top: 0;
			background-color: transparent;

			.responsive-menu-inner,
			.responsive-menu-inner::before,
			.responsive-menu-inner::after {
				color: $color__white;
				background-color: $color__white;
			}
		}

		#nav--mobile__nav-btn {
			cursor: pointer;

			.hidden {
				display: none;
			}
		}
	}
}

/* Responsive Menu Nav | Tablet Base */
#nav--desktop {
	display: inline-block;

	#responsive-menu-button {

		.responsive-menu-inner,
		.responsive-menu-inner::before,
		.responsive-menu-inner::after {
			width: 40px;
			height: 5px;
		}

		.responsive-menu-inner::before {
			top: -15px;
		}

		.responsive-menu-inner::after {
			bottom: -15px;
		}

		&.is-active {
			.responsive-menu-inner::after {
				bottom: 0;
			}
		}
	}

	#responsive-menu-additional-content {
		padding: 0 !important;

		img {
			max-width: 700px;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
}


/* RESPONSIVE MENU PLUGIN GLOBAL STYLES */
#responsive-menu-container::-webkit-scrollbar {
	display: none !important;
}

#responsive-menu-container {
	width: 90% !important;
	border-left: solid 2px $color__white;

	#responsive-menu-wrapper {
		width: 100%;
		height: 100%;
		background-color: $color__white;

		#responsive-menu-title {
			@include font-size(36);
			font-weight: 700;
			padding: 15px 20px;
			line-height: 0;
			height: 60px;
		}

		#responsive-menu {
			margin-bottom: 1rem;

			/* General Styles */
			li {
				border: none;

				a {
					background-color: $color__white;
					border: none;
					font-weight: 600;
					color: $color__primary;
					@include font-size(16);

					.responsive-menu-subarrow {
						height: 100%;
						background-color: transparent !important;
						width: auto;
						border-left: none;
						padding-right: 20px;
						color: $color__primary;

						i {
							color: $color__primary;
							@include font-size(24);
							position: relative;
							top: 0px;
						}
					}
				}
			}

			/* Tier 1 */
			>li {
				border-bottom: solid 1px $color__primary;

				>a {
					padding: 5px 20px;
					@include prefix('transition', 'opacity 0.5s ease-in-out', webkit moz ms o);

					&:focus,
					&:hover {
						opacity: .6;
					}
				}

				&.current_page_parent,
				&.current_page_ancestor {
					>a {
						background-color: $color__secondary;
					}
				}
			}

			/* Tier 2 */
			ul.responsive-menu-submenu-depth-1 {
				width: 100%;
				margin: 0px 0 20px 0px;

				li {
					border: none;

					a {
						color: $color__primary !important;
						padding-left: 20px;

						&:active,
						&:focus,
						&:hover {
							color: $color__white;

							.responsive-menu-subarrow {
								i {
									&:before {
										color: $color__white;
									}
								}
							}
						}

						.responsive-menu-subarrow {
							i {
								padding-right: 20px;
								top: 0 !important;

								&:before {
									color: $color__primary;
									@include prefix('transition', 'color 0.5s ease-in-out', webkit moz ms o);
								}
							}
						}
					}

					&.current_page_parent,
					&.current_page_ancestor,
					&.current-menu-item {
						>a {
							color: $color__white;

							i:before {
								color: $color__white;
							}
						}

						li.current-menu-item {
							>a {
								color: $color__white;
							}
						}
					}
				}
			}

			/* Tier 3 */
			.responsive-menu-submenu-depth-2 {
				padding: 0px 0;
				margin: 0px 0;
				background-color: transparent;
				position: relative;
				left: 20px;
				border-left: solid 2px $color__primary;

				li {
					a {
						background-color: transparent;

						&:active,
						&:focus,
						&:hover {
							color: $color__white;
						}
					}
				}

			}
		}

		#responsive-menu-search-box {
			padding: 20px;
			position: relative;

			form {
				border: 0;
				border-radius: 3px;

				&:after {
					position: absolute;
					right: 40px;
					top: 34px;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f002";
					color: $color__primary;
					z-index: 99999;
				}

				input {
					border: 1px solid $color__primary;
					border-radius: 3px;
					padding: 0 20px;
				}
			}
		}
	}
}

/* end Base */



/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {}

/* end 481px & Up */



/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {

	/* RESPONSIVE MENU PLUGIN GLOBAL STYLES */
	#responsive-menu-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 40% !important;

		#responsive-menu-wrapper {
			#responsive-menu-title {
				padding: 40px;
				height: 85px;
			}

			#responsive-menu {
				margin-bottom: 2rem;

				/* General Styles */
				li {
					a {
						@include font-size(18);

						.responsive-menu-subarrow {
							padding-right: 40px;

							i {
								top: 15px;
							}
						}
					}
				}

				/* Tier 1 */
				>li {
					>a {
						padding: 10px 40px;
					}
				}

				/* Tier 2 */
				ul.responsive-menu-submenu-depth-1 {
					margin: 20px 0 20px 40px;

					li {
						a {
							.responsive-menu-subarrow {
								i {
									padding-right: 40px;
								}
							}
						}
					}
				}
			}

			#responsive-menu-search-box {
				padding: 40px;

				form {
					&:after {
						right: 60px;
						top: 53px;
					}
				}
			}
		}
	}

}

/* end 768px & Up */



/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {
	#nav--mobile {
		display: none;
	}

	/* RESPONSIVE MENU PLUGIN GLOBAL STYLES */
	#responsive-menu-container {
		width: 30% !important;
	}

}

/* end 1030px & Up */



/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {}

/* end 1240px & Up */