/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: Site Navigation Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/

// Sliding Navigation Container
#site__navigation {
    position: fixed;
    top: 0;
    right: -75%;
    z-index: 50000;
    overflow: scroll;
    padding: 20px;
    max-width: 400px;
    height: 100vh;

    @include prefix('transition', 'all 1s ease-in-out', webkit);

    &::-webkit-scrollbar {
        display: none;
    }

    nav {
        ul {
            @include list-reset;
            @include spacing-reset;

            .sub-menu {
                display: none;
            }
        }
    }
}

//Desktop Menu Button
#nav--desktop__menu {
    #nav--desktop__nav-btn {
        padding: 20px;
    }
}


// Initial Setup For Behavior in Mobile 
#site__navigation.site-navigation__open {
    right: 0px;
}


// Site Specific Styles 
#site__navigation {
    background-color: $color__white;
    border-right: solid 1px $color__gray--light;

    nav {
        ul {}
    }
}


/* Desktop Menu */
#site__navigation {

    .navigation__wrap {
        height: 100%;
        width: 100%;
        position: relative;

        //Logo Styles
        #logo--header {
            text-align: center;

            img {
                width: 100%;
                max-width: 300px;
                margin-bottom: 30px;
            }
        }

        //Search Styles
        // .main--article__search {
        //     #searchform {
        //         input[type=search] {
        //             @include font-size(14);
        //             border: 1px solid $color__gray--light;
        //             -webkit-box-sizing: border-box;
        //             box-sizing: border-box;
        //             margin-bottom: 30px;
        //             padding: 8px 19px;
        //             letter-spacing: 1px;
        //             text-transform: uppercase;
        //         }

        //         .searchform__wrap {
        //             &:after {
        //                 right: 19px;
        //                 color: $color__gray--light;
        //             }
        //         }
        //     }
        // }

        //Main Navigation Styles
        nav {
            height: auto;
            max-height: 80%;
            overflow: auto;
            overflow-x: hidden;
            margin-bottom: 40px;
            padding-right: 15px;

            ul#menu-main-menu {
                li {
                    @include flexrow;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
                    position: relative;
                    margin-bottom: 10px;

                    a {
                        @include font-size(16);
                        display: block;
                        width: 90%;
                        color: $color__gray--lighter;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }


                    .menu-main-menu__dropdown {
                        width: 10%;
                        display: block;

                        i {
                            content: "\f078";
                            cursor: pointer;
                            @include prefix('transform', 'rotate(0deg)', webkit);
                            @include transition;
                            position: absolute;
                            right: 0px;
                            top: 0px;
                            width: auto;
                            z-index: 2;
                            text-align: right;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: $color__gray--lighter;
                        }
                    }

                    ul.sub-menu {
                        width: 100%;
                        border-left: 2px solid $color__primary;
                        padding-left: 0px;
                        margin-top: 10px;
                        margin-left: 30px;

                        li {
                            width: 95.5%;

                            a {
                                color: $color__gray--lighter;
                                @include font-size(14);
                                font-weight: 600;
                            }

                            &:hover {
                                * {
                                    color: $color__accent-1;
                                }
                            }
                        }

                        ul.sub-menu {
                            border-left: solid 1px $color__gray--light;
                            margin-left: 20px;

                            a {
                                color: $color__gray--lighter;
                                @include font-size(14);
                                font-weight: 500;
                                letter-spacing: 1px;

                                &:active,
                                &:focus,
                                &:hover {
                                    color: $color__accent-1;
                                }
                            }
                        }
                    }


                    &:hover {
                        >a {
                            * {
                                color: $color__accent-1;
                            }
                        }
                    }
                }

                .current_page_item {
                    >a {
                        color: $color__primary !important;
                    }
                }
            }
        }
    }

    /* END OF SLIDE OUT NAVIGATION */



    #header--global__more-content {
        //position: absolute;
        position: relative;
        //bottom: 0px;
        //left: 0px;
        //width: 100%;
        background-color: $color__white;
        width: 100%;
        -ms-flex-item-align: end;
        align-self: flex-end;

        .main--cta {
            #header--global__main-cta {
                width: 100%;
                height: 80px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                @include font-size (16);

                i {
                    position: relative;
                    top: -2px;
                    left: -2px;
                }
            }
        }
    }

    // End .navigation__wrap

}


// Rotate Dropdown Arrow Class
.active-dropdown { 
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

/* end Base */


/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {
    #site__navigation {

        ;
    }
}

/* end 481px & Up */


/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {
    #site__navigation {

        .navigation__wrap {
            height: auto;
        }
    }

}

/* end 768px & Up */


/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {
    #site__navigation {

        .navigation__wrap {
            nav {
                max-height: 600px;

                ul#menu-main-menu {
                    li {
                        a {
                            @include font-size(14);
                        }

                        ul.sub-menu {
                            a {
                                @include font-size(12);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* end 1030px & Up */



/*
5. XL | 1240PX & UP 
*********************/
@media (min-width: 1240px) {
    #site__navigation {
        .header--global__links--wrap {
            #header--global__links {
                .global-links {
                    a {}
                }
            }
        }

        .navigation__wrap {
            nav {
                ul#menu-main-menu {
                    li {
                        a {}
                    }
                }
            }
        }
    }
}



/*
5. CUSTOM | 1340PX & UP 
*********************/
@media (min-width: 1340px) {
    #site__navigation {
        .navigation__wrap {
            nav {
                ul#menu-main-menu {
                    li {
                        a {
                            @include font-size(16);
                        }
                    }
                }
            }
        }
    }
}

/* end 1340px & Up */