/******************************************************************
Site Name: Client Name
Author: P1WS

Stylesheet: "Partial Name" Stylesheet

1. XS | Base
2. SM | 481px & Up
3. MD | 768px & Up
4. LG | 1030px & Up
5. XL | 1240px & Up

******************************************************************/

/*
1. XS | BASE
*********************/


#site__container {
    position: relative;
}


.global-links {
    @include list-inline;
    @include list-reset;
    li {
        margin-right: 20px;
        &:last-of-type {
            margin-right: 0;
        }
        a {
            color: $color__accent-2;
            font-weight: 700;
            &:active, &:focus, &:hover {
                color: $color__accent-1;
            }
        }                    
    }
}


#header--global__links {
    .global-links {
        margin: 0;
    }
}


/* end Base */
  


/*
2. SM | 481PX & UP
*********************/
@media (min-width: 481px) {



} /* end 481px & Up */
     
  

/*
3. MD | 768PX & UP
*********************/
@media (min-width: 768px) {



} /* end 768px & Up */


  
/*
4. LG | 1030PX & UP
*********************/
@media (min-width: 1030px) {



} /* end 1030px & Up */
 


/*
5. XL | 1240PX & UP
*********************/
@media (min-width: 1240px) {

    .global-links {
        li {
            @include font-size(18);
        }
    }

} /* end 1240px & Up */